
@mixin flexboxy ($align: center, $justify-content: center, $flex-direction: row) {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: $flex-direction;
  flex-direction: $flex-direction;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: $justify-content;
  justify-content: $justify-content;
  -webkit-align-content: $align;
  align-content: $align;
}
@mixin flex_item ($flex-grow: 1, $flex-shrink: 0) {
  -webkit-flex-grow: $flex-grow;
  -webkit-flex-shrink: $flex-shrink;
  flex-grow: $flex-grow;
  flex-shrink: $flex-shrink;
}
