
#battle_button {
  text-align: center;
  position: absolute;
}

.hero_btn {
    width: 5em;
    height: 5em;
    border: 2px solid $color-btn-text;
    border-radius: 50%;
    color: $color-btn-text;
    background: $color-hero;
    font-size: 1em;
    margin: 2em 4em;
    &:hover {
      background: #262626;
  }
}

.villain_btn {
  @extend .hero_btn;
  background: $color-villain;
  &:hover {
    background: #262626;
  }
}
