
#hero_form {
  label {
    display: inline;
    float: left;
    clear: left;
    width: 8em;
  }
  input {
    display: inline-block;
    float: left;
  }
}

#villain_form {
  label {
    display: inline;
    float: right;
    clear: right;
    width: 8em;
    text-align: right;
  }
  input {
    display: inline-block;
    float: right;
  }
}

hero-form {
  form {
    @include flexboxy(center, flex-start, row);
  }
}

villain-form {
  form {
    @include flexboxy(center, flex-end, row);
  }
}
