
#hero_form {
  padding-left: 1em;
  label {
    display: inline;
    float: left;
    clear: left;
    width: 8em;
  }
  input {
    display: inline-block;
    float: left;
  }
}

#villain_form {
  padding-right: 1em;
  label {
    display: inline;
    float: right;
    clear: right;
    width: 8em;
    margin-left: 3em;
    text-align: right;
  }
  input {
    display: inline-block;
    float: right;
  }
}

hero-form {
  form {
    @include flexbox(center, space-around, row);
  }
}

villain-form {
  form {
    @include flexbox(center, space-around, row);
  }
}

.flex_wrapper_1 {
  @include flex_item(2, 0);
}

.flex_wrapper_2 {
  margin: auto;
}
