
header {
  font-family: $font-main;
  padding: 3em 0 2em;
  background-color: dark blue;
  h1 {
    font-size: 2em;
  }
  p {
    text-align: center;
    padding-top: 0.5em;
  }
  span:first-child {
    font-family: $font-hero;
  }
  span:last-child {
    font-family: $font-villain;
  }
}

.heroes_title, .villains_title {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
}

@include keyframes(fadeIn) {
  from {
    @include transform(translateY(-200px));
    opacity: 0;
  }
  to {
    @include transform(translateY(0));
    opacity: 1;
  }
}
