
header {
  font-family: $font-main;
  padding: 3em 0 2em;
  background-color: dark blue;
  h1 {
    font-size: 2em;
  }
  p {
    text-align: center;
    padding-top: 0.5em;
  }
  span:first-child {
    font-family: $font-hero;
  }
  span:last-child {
    font-family: $font-villain;
  }
}
