div.create_new {
  @include flexbox;
  section {
    h2 {
      padding: 0 0 1em 0;
      &:first-child {
        font-family: $font-hero;
      }
    }
    &.heroes {
      max-width: 45%;
      padding: 1em 2em;
    }
    &.villains {
      max-width: 45%;
      padding: 1em 2em;
      h2 {
        font-family: $font-villain;

      }
    }
  }
}


