
html {
	min-height: 100%;
}
body {
	font-family: $font-main;
}

.background {
	&:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		z-index: -1;
		background-image:
		radial-gradient(
			circle at center right,
			#EED2EE,
			#39C
		);
	}
	background-repeat: no-repeat;
	&:after {
		content: '';
		position: fixed;
		top: 0;
		left: 50%;
		width: 50%;
		height: 100%;
		z-index: -1;
		background-image:
			radial-gradient(
			circle at center left,
			#EED2EE,
			#F00
		);
	}
}

h1 {
	text-align: center;
}

h2 {
	font-size: 1em;
	padding: 0 1em;
	text-align: center;
}

li {
	list-style: none;
	padding: 1em;
	p {
		padding-bottom: 0.5em;
	}
}

fieldset {
	padding: 0.5em 0;
}

input {
	width: 17em;
}

.battles {
	text-align: center;
	padding: 1em 0 1em;
}

.villains {
	float: right;
}
