
html {
  min-height: 100%;
}
body {
  font-family: $font-main;
  background-image:
  radial-gradient(
    #EED2EE,
    #39C
  );
  background-repeat: no-repeat;
  ::after {
    content: '';
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-image:
      radial-gradient(
      circle at center left,
      #EED2EE,
      #F00
    );
  }
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1em;
  padding: 0 1em;
  text-align: center;
}

ul {
  @include flexbox(left, left, row);
}
li {
  justify-content: space-between;
  list-style: none;
  padding: 1em;
}

button {
  border-radius: 6em;
  background-color: lightcyan;
}
