<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo Angular App</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body data-ng-app="heroApp">
  <h1>Angular Demo</h1>
  <section data-ng-controller="HeroController as heroctrl" data-ng-init="heroctrl.getHeroes()">

    <section>
        <form data-ng-submit="heroctrl.makeHero()">
          <label>Name:
            <input type="text" data-ng-model="heroctrl.newHero.name">
          </label>
          <label>Power Level:
            <input type="text" placeholder="1-10" data-ng-model="heroctrl.newHero.powerLevel">
          </label>
          <label>Super Powers:
            <input data-ng-list type="text" placeholder="power1, power2, power3" data-ng-model="heroctrl.newHero.superPower">
          </label>
          <label>Archnemesis:
            <input type="text" data-ng-model="heroctrl.newHero.archNemesis">
          </label>
          <button type="submit">Make Hero!</button>
        </form>
    </section>

    <ul id="herolist">
      <li class="hero" data-ng-repeat="hero in heroctrl.heroes" id="hero_item_{{$index}}">
        <p data-ng-if="!hero.editing">
          <span id="heroname">{{hero.name}}</span>
          <span>is a Hero who frequently battles {{hero.archNemesis}} with: </span>
          <span data-ng-if="!hero.editing" data-ng-repeat="superPower in hero.superPower">{{superPower}}{{$last ? '.' : ', and'}}</span>
        </p>
        <button id="edit_button" data-ng-if="!hero.editing" data-ng-click="hero.editing = true">Edit Hero</button>
        <button id="delete_button" data-ng-if="!hero.editing" data-ng-click="heroctrl.deleteHero(hero)">Delete</button>
        <form class="hero_form" data-ng-if="hero.editing" data-ng-submit="heroctrl.editHero(hero)">
          <label>
            <input type="text" data-ng-model="hero.name" placeholder="name">
          </label>
          <label>
            <input type="text" placeholder="1-10" data-ng-model="hero.powerLevel">
          </label>
          <label>
            <input data-ng-list type="text" placeholder="power1, power2, power3" data-ng-model="hero.superPower">
          </label>
          <label>
            <input type="text" data-ng-model="hero.archNemesis" placeholder="archnemesis">
          </label>
          <button id="update_button_{{$index}}" class="update_button" data-ng-if="hero.editing" data-ng-click="heroctrl.editHero(hero)" data-ng-click="hero.editing = false">Update</button>
          <button class="cancel_button" data-ng-click="hero.editing = false">Cancel</button>
        </form>
      </li>
    </ul>
  </section>

  <section data-ng-controller="VillainController as vilctrl" data-ng-init="vilctrl.getVillains()">
    <section>
        <form data-ng-submit="vilctrl.makeVillain()">
          <label>Name:
            <input type="text" data-ng-model="vilctrl.newVillain.name">
          </label>
          <label>Power Level:
            <input type="text" placeholder="1-10" data-ng-model="vilctrl.newVillain.powerLevel">
          </label>
          <label>Super Powers:
            <input data-ng-list type="text" placeholder="power1, power2, power3" data-ng-model="vilctrl.newVillain.superPower">
          </label>
          <label>Archnemesis:
            <input type="text" data-ng-model="vilctrl.newVillain.dastardlyDoGooder">
          </label>
          <button type="submit">Make Villain!</button>
        </form>
    </section>

    <ul id="villainlist">
      <li class="villain" data-ng-repeat="villain in vilctrl.villains" id="villian_item_{{$index}}">
        <p data-ng-if="!villain.editing">
          <span id="villainname">{{villain.name}}</span>
          <span>is a Hero who frequently battles {{villain.archNemesis}} with: </span>
          <span data-ng-if="!villain.editing" data-ng-repeat="superPower in villain.superPower">{{superPower}}{{$last ? '.' : ', and'}}</span>
        </p>
        <button data-ng-if="!villain.editing" data-ng-click="villain.editing = true">Edit Villain</button>
        <button data-ng-if="!villain.editing" data-ng-click="vilctrl.deleteVillain(villain)">Delete</button>
        <form data-ng-if="villain.editing" data-ng-submit="vilctrl.editHero(villain)">
          <label>
            <input type="text" data-ng-model="villain.name">
          </label>
          <label>
            <input type="text" placeholder="1-10" data-ng-model="villain.powerLevel">
          </label>
          <label>
            <input data-ng-list type="text" placeholder="power1, power2, power3" data-ng-model="villain.superPower">
          </label>
          <label>
            <input type="text" data-ng-model="villain.dastardlyDoGooder">
          </label>
          <button data-ng-if="!bear.editing" data-ng-click="vilctrl.editVillain(villain)" data-ng-click="villain.editing = false">Update</button>
          <button data-ng-click="villain.editing = false">Cancel</button>
        </form>
      </li>
    </ul>
  </section>

  <section class="battles" data-ng-controller="BattleController as battlectrl">
    <button data-ng-click="battlectrl.battle()">Battle Button!</button>
      <p data-ng-repeat="battle in battlectrl.battles">{{battle}}</p>
  </section>

  <script src="./bundle.js"></script>
</body>
</html>
