

<section>
  <form data-ng-submit="heroctrl.makeHero()">
    <label>Name:
      <input type="text" data-ng-model="heroctrl.newHero.name">
    </label>
    <label>Power Level:
      <input type="text" placeholder="1-10" data-ng-model="heroctrl.newHero.powerLevel">
    </label>
    <label>Super Powers:
      <input data-ng-list type="text" placeholder="power1, power2, power3" data-ng-model="heroctrl.newHero.superPower">
    </label>
    <label>Archnemesis:
      <input type="text" data-ng-model="heroctrl.newHero.archNemesis">
    </label>
    <button type="submit">Make Hero!</button>
  </form>
</section>

