
<form data-ng-submit="save(hero)">
  <fieldset>
    <label for="name">Name:</label>
    <input type="text" name="name" data-ng-model="hero.name">
  </fieldset>
  <fieldset>
    <label for="powerLevel">Power Level:</label>
    <input type="text" name="powerLevel" placeholder="1-10" data-ng-model="hero.powerLevel">
  </fieldset>
  <fieldset>
    <label for="superPower">Super Powers:</label>
    <input data-ng-list type="text" name="superPower" placeholder="power1, power2, power3" data-ng-model="hero.superPower">
  </fieldset>
  <fieldset>
    <label for="archNemesis">Archnemesis:</label>
    <input type="text" name="archNemesis" data-ng-model="hero.archNemesis">
  </fieldset>
  <button type="submit">{{buttonText}}</button>
  <ng-transclude></ng-transclude>
</form>
